.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
package-lock.json

# ignore theme
# Ignore optional external libraries
themes/next/source/lib/*

# Track internal libraries & Ignore unused verdors files
themes/next/source/lib/font-awesome/less/
themes/next/source/lib/font-awesome/scss/
!themes/next/source/lib/font-awesome/
themes/next/_config.yml

!themes/next/source/lib/jquery/

!themes/next/source/lib/velocity/